<ul class="nav-pills">
  <li><a href="/faq">常见问答（FAQ）</a></li>
  <li><a href="/tos">服务条款</a></li>
  <li><a href="/privacy">隐私条款</a></li>
  <li><a class="active" href="/hypercube">超立方体</a></li>
</ul>

<%= render :partial => "hypercube_renderer" %>